@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
.ticker-wrap {
  position: fixed;
  top: 0;
  width: 100%;
  height: inherit;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.9);
  padding-left: 100%;
  box-sizing: content-box;
}
.ticker-wrap .ticker {
  display: inline-block;
  line-height: 4rem;
  white-space: nowrap;
  padding-right: 100%;
  height: inherit;
  box-sizing: content-box;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 60s;
  animation-duration: 60s;
}
.ticker-wrap .ticker__item {
  display: inline-block;
  padding: 0 2rem;
  font-size: 2rem;
  color: white;
  height: inherit;
}

nav {
  height: 80px;
  width: 100%;
}

body {
  margin: 0;
  font-family: Interstate, Walsheim, sans-serif;
}
.login-container {
  height: 100%;
}
/* parent for login */
.auth-form {
  display: flex;
  max-width: 42rem;
  flex-direction: column;
  align-content: space-between;
  margin: 0;
  border: none;
  padding: 1rem 0 1rem 0;
  line-height: 1.4em;
}
/* facebook button on home pagee */
.auth-fbook {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px grey;
  padding: 10px 10px;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  font-size: 14px;
}
/* facebook button and form divider */
.line-through {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 30px 0px;
}
.line-through span {
  background: #fff;
  padding: 0 10px;
}
/* form headers */
form h4 {
  margin: 0px;
  font-weight: 400;
}
/* space between forms and headers */
.form-child {
  padding: 10px 0 10px 0;
}
/* style for the form input boxes */
.form-style {
  border: 0.5px solid grey;
  width: 100%;
  padding: 7px 0;
}
#mute-btn {
  position: absolute;
  right: 0px;
  background-color: white;
  height: inherit;
  width: 80px;
}

.protest-btn {
  color: white;
  background-color: #4caf50;
  border-radius: 3px;
  padding: 4px 8px;
}

.protest-input {
  border: 0;
  border-bottom: 1px lightgrey solid;
  margin-left: 10px;
}
/* text center */
.center {
  text-align: center;
}

.upvote {
  height: 40px;
  width: 40px;
  float: left;
}

.downvote {
  height: 40px;
  width: 40px;
  float: left;
}

.vote-btn-container {
  float: left;
  height: 80px;
  width: 40px;
  margin-right: 10px;
}

.float-right {
  float: right;
}

.protest-bar {
  height: 80px;
  border: solid lightgrey 1px;
  margin-bottom: 3px;
  border-radius: 3px;
}

.del-btn {
  bottom: 10px;
  position: relative;
  float: right;
}

.protest-container {
  max-width: 680px;
  margin: auto;
}

p {
  margin-top: 0px;
}

.footer {
  position: fixed;
  bottom: 0px;
  display: inline-flex;
  width: 100%;
}

.ftr-btn {
  width: 100%;
  height: 60px;
}

.to-protest-room {
  display: block;
  margin: auto;
}
